// Config //
configuration {
    modi:                        "drun";
    show-icons:                  false;
    font:                        "JetBrainsMono Nerd Font 10";
    icon-theme:                  "Tela-circle-dracula";
}

@theme "../theme.rasi"

// Main //
window {
    location:                    southwest;
    anchor:                      southwest;
    x-offset:                    0;
    y-offset:                    0;
    width:                       23em;
    height:                      30em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border:                      2px solid;
    border-color:                @main-br;
    border-radius:               20px;
    background-color:            @main-bg;
}
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0.5em;
    orientation:                 vertical;
    children:                    [ "wallbox" , "listbox" ];
    background-color:            transparent;
}
wallbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    expand:                      false;
    orientation:                 horizontal;
    background-color:            transparent;
    background-image:            url("~/.config/rofi/shared/wall.cols", width);
    border-radius:               1em 1em 0em 0em;
    children:                    [ "wallframe" , "inputbar" ];
}
wallframe {
    width:                       5em;
    spacing:                     0em;
    padding:                     0em;
    expand:                      false;
    background-color:            @main-bg;

}


// Inputs //
inputbar {
    enabled:                     true;
    padding:                     0em;
    children:                    [ "entry" ];
    background-color:            @main-bg;
    expand:                      true;
}
entry {
    enabled:                     true;
    padding:                     1.8em;
    text-color:                  @main-fg;
    background-color:            transparent;
}


// Lists //
listbox {
    spacing:                     0em;
    padding:                     0em;
    children:                    [ "dummy" , "listview" , "dummy" ];
    background-color:            transparent;
    border-radius:               0em 1em 1em 0em;
}
listview {
    enabled:                     true;
    padding:                     1em 2em 1em 2em;
    columns:                     1;
    lines:                       11; 
    cycle:                       true;
    fixed-height:                true;
    fixed-columns:               false;
    scrollbar:                   false;
    expand:                      false;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @main-fg;
}
dummy {
    spacing:                     0em;
    padding:                     0em;
    background-color:            transparent;
}


// Elements //
element {
    enabled:                     true;
    spacing:                     1em;
    padding:                     0.5em;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @main-fg;
}
element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
    border-radius:               20px;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
}

