* {
    main-bg:            #330F32B3;
    main-fg:            #FFCCFEE6;
    main-br:            #D64858E6;
    main-ex:            #6770C9E6;
    select-bg:          #F0AAC380;
    select-fg:          #522937E6;
}
